body {
  margin: 0;
  padding: 0;
  background: #0a2239;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: grid;
  justify-content: center;
  align-content: center;
}

.fireworksBtn {
  width: 300px;
  height: 60px;
  padding: 5px;
  color: #d9dadd;
  background-color: #0000ff;
  border-radius: 6px;
  border: 1px solid #0000ff;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 2%;
}

.fireworksBtn:hover {
  background-color: #00008b;
}

#textElement {
  text-align: justify;
  color: #d9dadd;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 100;
}

.pyro {
  display: none;
}

/*-- PYROWORKS COMPONENT BY EDDIE LYN --*/
.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 2px -347.6666666667px hsl(289, 100%, 50%),
      -72px 68.3333333333px hsl(21, 100%, 50%),
      -245px -25.6666666667px hsl(316, 100%, 50%),
      -143px -117.6666666667px hsl(309, 100%, 50%),
      159px -164.6666666667px hsl(289, 100%, 50%),
      -178px -373.6666666667px hsl(180, 100%, 50%),
      49px -261.6666666667px hsl(77, 100%, 50%),
      -211px -409.6666666667px hsl(167, 100%, 50%),
      -96px -276.6666666667px hsl(179, 100%, 50%),
      164px -31.6666666667px hsl(208, 100%, 50%),
      159px -302.6666666667px hsl(93, 100%, 50%),
      -29px -249.6666666667px hsl(55, 100%, 50%),
      -35px -229.6666666667px hsl(155, 100%, 50%),
      123px -277.6666666667px hsl(49, 100%, 50%),
      -145px -414.6666666667px hsl(260, 100%, 50%),
      151px -28.6666666667px hsl(358, 100%, 50%),
      -74px -363.6666666667px hsl(160, 100%, 50%),
      -178px -79.6666666667px hsl(303, 100%, 50%),
      141px -144.6666666667px hsl(331, 100%, 50%),
      -200px -236.6666666667px hsl(299, 100%, 50%),
      -164px -293.6666666667px hsl(50, 100%, 50%),
      -25px -101.6666666667px hsl(91, 100%, 50%),
      55px 30.3333333333px hsl(176, 100%, 50%),
      208px -367.6666666667px hsl(252, 100%, 50%),
      -7px -250.6666666667px hsl(160, 100%, 50%),
      -136px -206.6666666667px hsl(54, 100%, 50%),
      194px 18.3333333333px hsl(13, 100%, 50%),
      -88px -266.6666666667px hsl(289, 100%, 50%),
      -91px -122.6666666667px hsl(232, 100%, 50%),
      -50px -83.6666666667px hsl(68, 100%, 50%),
      -78px -278.6666666667px hsl(340, 100%, 50%),
      -145px -274.6666666667px hsl(249, 100%, 50%),
      -139px -21.6666666667px hsl(125, 100%, 50%),
      -163px -353.6666666667px hsl(43, 100%, 50%),
      146px -349.6666666667px hsl(25, 100%, 50%),
      215px -344.6666666667px hsl(347, 100%, 50%),
      40px -39.6666666667px hsl(229, 100%, 50%),
      42px -390.6666666667px hsl(344, 100%, 50%),
      -128px -329.6666666667px hsl(339, 100%, 50%),
      -183px -142.6666666667px hsl(339, 100%, 50%),
      64px -294.6666666667px hsl(192, 100%, 50%),
      -236px -177.6666666667px hsl(194, 100%, 50%),
      23px -129.6666666667px hsl(28, 100%, 50%),
      246px -83.6666666667px hsl(87, 100%, 50%),
      113px -280.6666666667px hsl(173, 100%, 50%),
      199px -176.6666666667px hsl(217, 100%, 50%),
      180px -85.6666666667px hsl(230, 100%, 50%),
      -50px -387.6666666667px hsl(17, 100%, 50%),
      96px -174.6666666667px hsl(5, 100%, 50%),
      34px -65.6666666667px hsl(311, 100%, 50%),
      -156px 31.3333333333px hsl(80, 100%, 50%);
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 2px -347.6666666667px hsl(289, 100%, 50%),
      -72px 68.3333333333px hsl(21, 100%, 50%),
      -245px -25.6666666667px hsl(316, 100%, 50%),
      -143px -117.6666666667px hsl(309, 100%, 50%),
      159px -164.6666666667px hsl(289, 100%, 50%),
      -178px -373.6666666667px hsl(180, 100%, 50%),
      49px -261.6666666667px hsl(77, 100%, 50%),
      -211px -409.6666666667px hsl(167, 100%, 50%),
      -96px -276.6666666667px hsl(179, 100%, 50%),
      164px -31.6666666667px hsl(208, 100%, 50%),
      159px -302.6666666667px hsl(93, 100%, 50%),
      -29px -249.6666666667px hsl(55, 100%, 50%),
      -35px -229.6666666667px hsl(155, 100%, 50%),
      123px -277.6666666667px hsl(49, 100%, 50%),
      -145px -414.6666666667px hsl(260, 100%, 50%),
      151px -28.6666666667px hsl(358, 100%, 50%),
      -74px -363.6666666667px hsl(160, 100%, 50%),
      -178px -79.6666666667px hsl(303, 100%, 50%),
      141px -144.6666666667px hsl(331, 100%, 50%),
      -200px -236.6666666667px hsl(299, 100%, 50%),
      -164px -293.6666666667px hsl(50, 100%, 50%),
      -25px -101.6666666667px hsl(91, 100%, 50%),
      55px 30.3333333333px hsl(176, 100%, 50%),
      208px -367.6666666667px hsl(252, 100%, 50%),
      -7px -250.6666666667px hsl(160, 100%, 50%),
      -136px -206.6666666667px hsl(54, 100%, 50%),
      194px 18.3333333333px hsl(13, 100%, 50%),
      -88px -266.6666666667px hsl(289, 100%, 50%),
      -91px -122.6666666667px hsl(232, 100%, 50%),
      -50px -83.6666666667px hsl(68, 100%, 50%),
      -78px -278.6666666667px hsl(340, 100%, 50%),
      -145px -274.6666666667px hsl(249, 100%, 50%),
      -139px -21.6666666667px hsl(125, 100%, 50%),
      -163px -353.6666666667px hsl(43, 100%, 50%),
      146px -349.6666666667px hsl(25, 100%, 50%),
      215px -344.6666666667px hsl(347, 100%, 50%),
      40px -39.6666666667px hsl(229, 100%, 50%),
      42px -390.6666666667px hsl(344, 100%, 50%),
      -128px -329.6666666667px hsl(339, 100%, 50%),
      -183px -142.6666666667px hsl(339, 100%, 50%),
      64px -294.6666666667px hsl(192, 100%, 50%),
      -236px -177.6666666667px hsl(194, 100%, 50%),
      23px -129.6666666667px hsl(28, 100%, 50%),
      246px -83.6666666667px hsl(87, 100%, 50%),
      113px -280.6666666667px hsl(173, 100%, 50%),
      199px -176.6666666667px hsl(217, 100%, 50%),
      180px -85.6666666667px hsl(230, 100%, 50%),
      -50px -387.6666666667px hsl(17, 100%, 50%),
      96px -174.6666666667px hsl(5, 100%, 50%),
      34px -65.6666666667px hsl(311, 100%, 50%),
      -156px 31.3333333333px hsl(80, 100%, 50%);
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 2px -347.6666666667px hsl(289, 100%, 50%),
      -72px 68.3333333333px hsl(21, 100%, 50%),
      -245px -25.6666666667px hsl(316, 100%, 50%),
      -143px -117.6666666667px hsl(309, 100%, 50%),
      159px -164.6666666667px hsl(289, 100%, 50%),
      -178px -373.6666666667px hsl(180, 100%, 50%),
      49px -261.6666666667px hsl(77, 100%, 50%),
      -211px -409.6666666667px hsl(167, 100%, 50%),
      -96px -276.6666666667px hsl(179, 100%, 50%),
      164px -31.6666666667px hsl(208, 100%, 50%),
      159px -302.6666666667px hsl(93, 100%, 50%),
      -29px -249.6666666667px hsl(55, 100%, 50%),
      -35px -229.6666666667px hsl(155, 100%, 50%),
      123px -277.6666666667px hsl(49, 100%, 50%),
      -145px -414.6666666667px hsl(260, 100%, 50%),
      151px -28.6666666667px hsl(358, 100%, 50%),
      -74px -363.6666666667px hsl(160, 100%, 50%),
      -178px -79.6666666667px hsl(303, 100%, 50%),
      141px -144.6666666667px hsl(331, 100%, 50%),
      -200px -236.6666666667px hsl(299, 100%, 50%),
      -164px -293.6666666667px hsl(50, 100%, 50%),
      -25px -101.6666666667px hsl(91, 100%, 50%),
      55px 30.3333333333px hsl(176, 100%, 50%),
      208px -367.6666666667px hsl(252, 100%, 50%),
      -7px -250.6666666667px hsl(160, 100%, 50%),
      -136px -206.6666666667px hsl(54, 100%, 50%),
      194px 18.3333333333px hsl(13, 100%, 50%),
      -88px -266.6666666667px hsl(289, 100%, 50%),
      -91px -122.6666666667px hsl(232, 100%, 50%),
      -50px -83.6666666667px hsl(68, 100%, 50%),
      -78px -278.6666666667px hsl(340, 100%, 50%),
      -145px -274.6666666667px hsl(249, 100%, 50%),
      -139px -21.6666666667px hsl(125, 100%, 50%),
      -163px -353.6666666667px hsl(43, 100%, 50%),
      146px -349.6666666667px hsl(25, 100%, 50%),
      215px -344.6666666667px hsl(347, 100%, 50%),
      40px -39.6666666667px hsl(229, 100%, 50%),
      42px -390.6666666667px hsl(344, 100%, 50%),
      -128px -329.6666666667px hsl(339, 100%, 50%),
      -183px -142.6666666667px hsl(339, 100%, 50%),
      64px -294.6666666667px hsl(192, 100%, 50%),
      -236px -177.6666666667px hsl(194, 100%, 50%),
      23px -129.6666666667px hsl(28, 100%, 50%),
      246px -83.6666666667px hsl(87, 100%, 50%),
      113px -280.6666666667px hsl(173, 100%, 50%),
      199px -176.6666666667px hsl(217, 100%, 50%),
      180px -85.6666666667px hsl(230, 100%, 50%),
      -50px -387.6666666667px hsl(17, 100%, 50%),
      96px -174.6666666667px hsl(5, 100%, 50%),
      34px -65.6666666667px hsl(311, 100%, 50%),
      -156px 31.3333333333px hsl(80, 100%, 50%);
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 2px -347.6666666667px hsl(289, 100%, 50%),
      -72px 68.3333333333px hsl(21, 100%, 50%),
      -245px -25.6666666667px hsl(316, 100%, 50%),
      -143px -117.6666666667px hsl(309, 100%, 50%),
      159px -164.6666666667px hsl(289, 100%, 50%),
      -178px -373.6666666667px hsl(180, 100%, 50%),
      49px -261.6666666667px hsl(77, 100%, 50%),
      -211px -409.6666666667px hsl(167, 100%, 50%),
      -96px -276.6666666667px hsl(179, 100%, 50%),
      164px -31.6666666667px hsl(208, 100%, 50%),
      159px -302.6666666667px hsl(93, 100%, 50%),
      -29px -249.6666666667px hsl(55, 100%, 50%),
      -35px -229.6666666667px hsl(155, 100%, 50%),
      123px -277.6666666667px hsl(49, 100%, 50%),
      -145px -414.6666666667px hsl(260, 100%, 50%),
      151px -28.6666666667px hsl(358, 100%, 50%),
      -74px -363.6666666667px hsl(160, 100%, 50%),
      -178px -79.6666666667px hsl(303, 100%, 50%),
      141px -144.6666666667px hsl(331, 100%, 50%),
      -200px -236.6666666667px hsl(299, 100%, 50%),
      -164px -293.6666666667px hsl(50, 100%, 50%),
      -25px -101.6666666667px hsl(91, 100%, 50%),
      55px 30.3333333333px hsl(176, 100%, 50%),
      208px -367.6666666667px hsl(252, 100%, 50%),
      -7px -250.6666666667px hsl(160, 100%, 50%),
      -136px -206.6666666667px hsl(54, 100%, 50%),
      194px 18.3333333333px hsl(13, 100%, 50%),
      -88px -266.6666666667px hsl(289, 100%, 50%),
      -91px -122.6666666667px hsl(232, 100%, 50%),
      -50px -83.6666666667px hsl(68, 100%, 50%),
      -78px -278.6666666667px hsl(340, 100%, 50%),
      -145px -274.6666666667px hsl(249, 100%, 50%),
      -139px -21.6666666667px hsl(125, 100%, 50%),
      -163px -353.6666666667px hsl(43, 100%, 50%),
      146px -349.6666666667px hsl(25, 100%, 50%),
      215px -344.6666666667px hsl(347, 100%, 50%),
      40px -39.6666666667px hsl(229, 100%, 50%),
      42px -390.6666666667px hsl(344, 100%, 50%),
      -128px -329.6666666667px hsl(339, 100%, 50%),
      -183px -142.6666666667px hsl(339, 100%, 50%),
      64px -294.6666666667px hsl(192, 100%, 50%),
      -236px -177.6666666667px hsl(194, 100%, 50%),
      23px -129.6666666667px hsl(28, 100%, 50%),
      246px -83.6666666667px hsl(87, 100%, 50%),
      113px -280.6666666667px hsl(173, 100%, 50%),
      199px -176.6666666667px hsl(217, 100%, 50%),
      180px -85.6666666667px hsl(230, 100%, 50%),
      -50px -387.6666666667px hsl(17, 100%, 50%),
      96px -174.6666666667px hsl(5, 100%, 50%),
      34px -65.6666666667px hsl(311, 100%, 50%),
      -156px 31.3333333333px hsl(80, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: 2px -347.6666666667px hsl(289, 100%, 50%),
      -72px 68.3333333333px hsl(21, 100%, 50%),
      -245px -25.6666666667px hsl(316, 100%, 50%),
      -143px -117.6666666667px hsl(309, 100%, 50%),
      159px -164.6666666667px hsl(289, 100%, 50%),
      -178px -373.6666666667px hsl(180, 100%, 50%),
      49px -261.6666666667px hsl(77, 100%, 50%),
      -211px -409.6666666667px hsl(167, 100%, 50%),
      -96px -276.6666666667px hsl(179, 100%, 50%),
      164px -31.6666666667px hsl(208, 100%, 50%),
      159px -302.6666666667px hsl(93, 100%, 50%),
      -29px -249.6666666667px hsl(55, 100%, 50%),
      -35px -229.6666666667px hsl(155, 100%, 50%),
      123px -277.6666666667px hsl(49, 100%, 50%),
      -145px -414.6666666667px hsl(260, 100%, 50%),
      151px -28.6666666667px hsl(358, 100%, 50%),
      -74px -363.6666666667px hsl(160, 100%, 50%),
      -178px -79.6666666667px hsl(303, 100%, 50%),
      141px -144.6666666667px hsl(331, 100%, 50%),
      -200px -236.6666666667px hsl(299, 100%, 50%),
      -164px -293.6666666667px hsl(50, 100%, 50%),
      -25px -101.6666666667px hsl(91, 100%, 50%),
      55px 30.3333333333px hsl(176, 100%, 50%),
      208px -367.6666666667px hsl(252, 100%, 50%),
      -7px -250.6666666667px hsl(160, 100%, 50%),
      -136px -206.6666666667px hsl(54, 100%, 50%),
      194px 18.3333333333px hsl(13, 100%, 50%),
      -88px -266.6666666667px hsl(289, 100%, 50%),
      -91px -122.6666666667px hsl(232, 100%, 50%),
      -50px -83.6666666667px hsl(68, 100%, 50%),
      -78px -278.6666666667px hsl(340, 100%, 50%),
      -145px -274.6666666667px hsl(249, 100%, 50%),
      -139px -21.6666666667px hsl(125, 100%, 50%),
      -163px -353.6666666667px hsl(43, 100%, 50%),
      146px -349.6666666667px hsl(25, 100%, 50%),
      215px -344.6666666667px hsl(347, 100%, 50%),
      40px -39.6666666667px hsl(229, 100%, 50%),
      42px -390.6666666667px hsl(344, 100%, 50%),
      -128px -329.6666666667px hsl(339, 100%, 50%),
      -183px -142.6666666667px hsl(339, 100%, 50%),
      64px -294.6666666667px hsl(192, 100%, 50%),
      -236px -177.6666666667px hsl(194, 100%, 50%),
      23px -129.6666666667px hsl(28, 100%, 50%),
      246px -83.6666666667px hsl(87, 100%, 50%),
      113px -280.6666666667px hsl(173, 100%, 50%),
      199px -176.6666666667px hsl(217, 100%, 50%),
      180px -85.6666666667px hsl(230, 100%, 50%),
      -50px -387.6666666667px hsl(17, 100%, 50%),
      96px -174.6666666667px hsl(5, 100%, 50%),
      34px -65.6666666667px hsl(311, 100%, 50%),
      -156px 31.3333333333px hsl(80, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

/*# sourceMappingURL=styles.css.map */
